body {
  text-align: center;
}

h1 {
  font-size: 5em;
  font-weight: bold;
  line-height: 1em;
}

.form-group {
  margin: 10em 0em 5em 0em;
  text-align: center;
}

input#search {
  font-size: xx-large;
  width: 80%;
  text-align: center;
}

input.btn.btn-primary.btn-lg {
    font-size: 2em;
}

.result {
  font-size: large;
}
